{% extends "basebase.html" %}

{% block navigation %}
    <div class="seven columns">
    <ul class="nav-bar left">
        <li><a href="/CGL/rules">Rules</a></li>
        <li><a href="/CGL/results">Leaderboard</a></li>
        <li><a href="/CGL/schools">Schools</a></li>
        <li><a href="/CGL/players">Players</a></li>
        <li><a href="/CGL/join">Sign Up</a></li>
    </ul>
    </div>
    
    <div class="five columns">
    <ul class="nav-bar right">
        <li><a href="/" id="homenav">Return to ACGA</a></li>
        {% if user.is_authenticated %}
        <li><a href="/accounts/profile/">My profile</a></li>
        <li><a href="/accounts/logout/">Logout</a></li>
        {% else %}
        <li><a href="/accounts/login/">Login</a></li>
        <li><a href="/accounts/register/">Register</a></li>
        {% endif %}
    </ul>
    </div>

{% endblock navigation %}

{% block logo %}
<img src="/site_media/CGL_banner.png" alt="CGL Banner not found!">
<hr />
{% endblock logo %}

{% block content %}
<div class="row">
    <div class="eight columns">
        <div class="panel">
        {% block maintext %}
        <p>Default maintext</p>     
        {% endblock maintext %}
        </div>
    </div>  

    <aside class="four columns">
        <div class="panel">
        <h2>Upcoming Matches</h2>
    {% for season in current_seasons %}
    {% with next_round=season.round_set.get_next_round %}
        <h3>{{season.name}}</h3>
        {% if next_round %}
            <p><strong>{{next_round.date}}</strong></p>
            <ul>
            {% for match in next_round.match_set.all %}
                <li>{{match.display_match}}</li>
            {% empty %}
                <li>No matches entered yet </li>
            {% endfor %}
            </ul>
            {% if next_round.bye_set.all %}
                <p>{% for bye in next_round.bye_set.all %}
                <emph>{{bye.team.school.name}}</emph>, 
                {% endfor %} have a bye </p>
            {% endif %}
        {% else %}
            <p>No upcoming matches scheduled; perhaps it's the end of a season</p>
        {% endif %}
    {% endwith %}
    {% endfor %}
   
        </div>
        <div class="panel">
        <h2>Recent Matches</h2>
    {% for season in current_seasons %}
    {% with recent_round=season.round_set.get_previous_round %}
        <h3>{{season.name}}</h3>
        {% if recent_round %}
            <p><strong>{{recent_round.date}}</strong></p>
            <ul>
            {% for match in recent_round.match_set.all %}
                <li>{{match.display_result_html|safe}}</li>
            {% endfor %}            
            </ul>
            {% if recent_round.bye_set.all %}
                <p>{% for bye in recent_round.bye_set.all %}
                <emph>{{bye.school}}</emph>,
                {% endfor %} got a bye </p>
            {% endif %}
        {% else %}
        <p>No recent matches; perhaps it's the beginning of a season</p>
        {% endif %}
    {% endwith %}
    {% endfor %}
        </div>
        <div class="panel">
        <h5>See all dates, matches, and games for this season <a href="/CGL/results/">here</a>.</h5>
        </div>

-->
    </aside>    
</div>

{% endblock content %}
