{% extends "basebase.html" %}
{% block title %}Collegiate Go League{% endblock %}

{% block content %}
<div class="row">
    <div class="eight columns">
        <div class="panel">
        {% block maintext %}
        <p>Default maintext</p>     
        {% endblock maintext %}
        </div>
        <div class="panel" style="position: relative; padding-bottom: 75%; height: 0; overflow: hidden;">
        <iframe src="https://www.google.com/calendar/embed?src=16f3g87eiqvkfbc9tpjk47nr18%40group.calendar.google.com&ctz=America/New_York" style="position: absolute; top:0; left: 0; width: 100%; height: 100%;" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>  

    <aside class="four columns">
        <div class="panel">
        <h2>Upcoming Matches</h2>
    {% for season in current_seasons %}
    {% with next_round=season.round_set.get_next_round %}
        <h3><a href="{{season.get_absolute_url}}">{{season.name}}</a></h3>
        {% if next_round %}
            <p><strong>{{next_round.date}}</strong></p>
            <ul>
            {% for match in next_round.match_set.all %}
                <li>{{match.display_match}}</li>
            {% empty %}
                <li>No matches entered yet </li>
            {% endfor %}
            </ul>
            {% if next_round.bye_set.all %}
                <p>{% for bye in next_round.bye_set.all %}
                <emph>{{bye.team.school.name}}</emph>, 
                {% endfor %} have a bye </p>
            {% endif %}
        {% else %}
            <p>No upcoming matches scheduled; perhaps it's the end of a season</p>
        {% endif %}
    {% endwith %}
    {% endfor %}
   
        </div>
        <div class="panel">
        <h2>Recent Matches</h2>
    {% for season in current_seasons %}
    {% with recent_round=season.round_set.get_previous_round %}
        <h3><a href="{{season.get_absolute_url}}">{{season.name}}</a></h3>
        {% if recent_round %}
            <p><strong>{{recent_round.date}}</strong></p>
            <ul>
            {% for match in recent_round.match_set.all %}
                <li>{{match.display_result_html|safe}}</li>
            {% endfor %}            
            </ul>
            {% if recent_round.bye_set.all %}
                <p>{% for bye in recent_round.bye_set.all %}
                <emph>{{bye.team.school.name}}</emph>,
                {% endfor %} got a bye </p>
            {% endif %}
        {% else %}
        <p>No recent matches; perhaps it's the beginning of a season</p>
        {% endif %}
    {% endwith %}
    {% endfor %}
        </div>
        <div class="panel">
        <h2>Individual Ladder</h2>
        <h3><a href="https://online-go.com/ladder/1926">Online Go Server</a></h3>
        {% if iCGL_top_players %}
        <ol>
            {% for player in iCGL_top_players %}
            <li><img src="{{player.icon}}" /> {{player.username}} ({{player.get_rank_display}})</li>
            {% endfor %}
        </ol>
        {% else %}
        <p>No results found for the OGS individual ladder</p>
        {% endif %}

        </div>
    </aside>    
</div>

{% endblock content %}
