{% extends "base_CGL.html" %}

{% block content %}
<div class="row">

<div class="four columns">
<div class="panel">
<h4>The CGL is the first online competitive league for college Go clubs. </h4>
<h5><a href="/CGL/rules/"> Learn how the League works</a></h5>
</div>
</div>

<div class="four columns">
<div class="panel">
<h4>The top sixteen schools are seeded into a tournament to compete for a cash prize.</h4>
<h5><a href="/CGL/results/"> See who's in the lead</a></h5>
</div>
</div>

<div class="four columns">
<div class="panel">
<h4>College clubs from all over the continent are joining the fun.</h4>
<h5><a href="http://www.college-go.org/join-cgl"> Join the CGL</a></h5>
</div>
</div>

</div>

<!--<img style="float:right;margin:15px 0px 0px 20px;clear:left;" src="../site_media/CGL-trophy.jpg" alt="Sorry, can't display this image!"/>-->
{% endblock content %}
