{% extends "base_CGL.html" %}

{% block PageID %}<div id="CGL">{% endblock PageID %}

{% block title %}Collegiate Go League{% endblock title %}

{% block maintext %}
<div id="tournaments">
	<div id='league'>
		<h2>League information</h2>
		<p> The CGL is the first online competitive league for college Go clubs. Each season runs through the school year, and the top sixteen schools are invited to compete for a cash prize in an end-of-season championship tournament. Strong players are generally on hand to help review games, helping kyu and dan-level players alike to improve.</p>
		<ul>
			<li><b>League Format:</b> Matches occur once every other week throughout the school year, except in December and March, to avoid winter/spring breaks. Each week, our algorithm will attempt to match schools with equal numbers of wins. Schools will not be matched together more than once each season. Seeding into the championship tournament is determined by number of wins, so a college who joins late may still be invited to the championship.  </li>
		    <li><b>Match Format:</b> A "match" refers to a set of five games between two schools. Each school will field five players. The five players from each team will play each other, sorted from strongest to weakest. The match will be won by the school who wins best of the five boards. No-shows for a board are counted as forfeits.</li>
			<li><b>Team logistics:</b> Each school will nominate a team captain, who will maintain a roster of active team members. These team members should be active members of the club. There is no limit to the number of people on a roster, although only five team members may represent a school in any given match. People are eligible to compete for a college club if they are active members of the club.</li>
			<li><b>Time:</b> Matches occur every other Saturday throughout the regular season. The starting time is currently set at 1PM EST/10AM PST, and ending by 3PM EST/noon PST. Please try to arrive in the tournament room half an hour earlier than the match start, to minimize delays.</li>
		    <li><b>Location:</b> <a href="http://www.gokgs.com">KGS</a>, Room: "Collegiate Go League", under "Tournaments".</li>
		    <li><b>Game settings:</b> 30m main time, 5x30second byo-yomi, Chinese Ruleset with 6.5 points komi, unrated, handicapped according to KGS ratings, no undos. A moderator will be on hand to resolve any disputes/conflicts.</li>
		    <li><b>Handicap:</b> Full handicap as determined by KGS ranking differences during normal season play. The end-of-season championship tournament will have <b>no</b> handicap. </li>
		</ul>
	</div>
	<hr />

<img style="float:right;margin:15px 0px 0px 20px;clear:left;" src="../site_media/CGL-trophy.jpg" alt="Sorry, can't display this image!"/>

</div>
{% endblock maintext %}
