{% extends "base_CGL.html" %}
{% load email_obfuscator %}
{% block title %}Collegiate Go League - Rules{% endblock %}


{% block maintext %}
<h1>CGL Rules</h1>

<p>Questions can be directed to {{"cgl.tournament.director@gmail.com"|obfuscate|safe}}</p>

<p><b>League Format:</b>The CGL features teams of three, competing in matches every other week throughout the school year, except in December and March, to avoid winter/spring breaks. </p>
<p><b>Teams and Schools:</b> A school is currently allowed to have one team in the CGL. For larger schools we will grant a second team on case-by-case basis.</p>
<p><b>Match Format:</b> A "match" refers to a set of three games between two teams. Each team will field 3 players. The 3 players from each team will play each other, pairing from strongest to weakest. The match will be won by the team who wins the majority of the 5 boards. No-shows for a board are counted as losses.</p>
<p><b>Time/Dates:</b> Matches generally occur on alternating Saturdays, starting at 1PM EST/10AM PST, and usually ending by 3PM EST/noon PST. See <a href="/CGL/results/">the Leaderboard page </a> for a full schedule of matches. Please try to arrive in the tournament room 15 minutes earlier than the match start, to minimize delays.</p>
<p><b>Location:</b> <a href="http://www.gokgs.com">KGS</a>, Room: "Collegiate Go League", under "Tournaments".</p>
<p><b>Game settings:</b> 30m main time, 5x30second Japanese byo-yomi, Chinese Ruleset with 7.5 points komi, unrated, no undos, and handicap as specified below. A moderator will be on hand to resolve any disputes/conflicts.</p>
<p><b>Handicap:</b> Games in the CGL shall be played with one stone fewer than the normal handicap, up to a maximum of 5 stones. For example, a 5kyu vs 10kyu match would have a 4 stone handicap, and a 7d vs. 1d match would have a 5 stone handicap. Handicap stone placement is free, in accordance with the Ing rule philosophy.</p>
<p><b>No-Show:</b> A team with people missing at 1:15 PM EST will have been considered to have forfeited those boards. Missing more than one person of course means losing the match by default. Please double-check your time zones!</p>

<h4>Logistics</h4>
<p><b>For the team captain:</b> Each school will nominate a team captain, who will maintain a roster of active team members on the CGL website. The team captain will be responsible for making sure that their team shows up on time for each match. We recommend that you meet in person, although it's not necessary. These team members should be active members of the club. There is no limit to the number of people on a roster, although only five team members may represent a school in any given match. People are eligible to compete for a college club if they are active members of the club.</p>
<p><b>For us, the CGL organizers:</b> On Sunday at midnight, one week before the match day, we will create matchups for that Saturday's round. If you are unable to participate in that round, you must let us know before then. Schools who have not played each other previously that season are preferentially matched up. If there are an odd number of schools, schools with the fewest forfeited games are given priority in match pairing.</p>
<p> During the match itself, we will handle any issues like missing/late players and handicap/rule questions.</p>
<p><b>After the match:</b> We will handle the reporting, uploading, and tagging of games to our website. You can help us out by remembering to state your name in-game, so that the names of the players are in the SGF file. If we can't figure out who played a game, it will be recorded as "Unknown Player".</p>

<h1>Individual Collegiate Go Ladder (iCGL)</h1>
<p><b>Ladder Format:</b> The iCGL is a continuous, free-form ladder where participants are free to play each other at any time. We don't yet have details finalized, but the rough plan is to have people list their KGS accounts with their CGL accounts, and automatically register any games played between two registered people.</p>

<h1>Championship Tournament:</h1>
<p>Each season culminates in a championship tournament. This year, the top four schools, as ranked by wins, then fewest losses, then ties, then fewest forfeited boards, will be invited to the championship tournament. The championship games, like the normal season games, take place on KGS. All games will be <emph>no handicap</emph>. All other rules are the same as normal - in particular, any active members of the club may compete on the school's behalf. </p>
<p>The championship takes place over 2 weekends in a double elimination format. The top four schools are seeded against each other (1st vs. 4th; 2nd vs. 3rd) in the first weekend. Winners pair off to determine first and second place; the losers pair off to determine third and fourth place.</p>
<p>The winner of the championship takes home a prize trophy, which they get to keep for a year, and $250 for their club. Second and third place schools get $100 and $50, respectively.</p>

<img style="float:'center';margin:15px 6px 20px;clear:'right';overflow:'hidden';" src="../../site_media/CGL-trophy.jpg" alt="Sorry, can't display this image!"/>

{% endblock maintext %}
