{% extends 'base_CGL.html' %}

{% block PageID %}<div id="edit_index">{% endblock PageID %}

{% block title %}Edit School/Roster {% endblock %}

{% block maintext %}
{% if user.permitted_schools %}
You have edit permissions for {% for school in user.permitted_schools %}{% if not forloop.last %}{{school}}, {% else %}{{school}}{% endif %}{% endfor %}
{% else %} You do not have any editing permissions. Contact us if you think you should have editing permissions.
{% endif %}

{% for school in user.permitted_schools %}
{% endfor %}

{% endblock %}
