{% extends "base_CGL.html" %}
{% block title %}Collegiate Go League - {{game}}{% endblock %}



{% block javascript %}
<script src="/site_media/eidogo-player/js/all.compressed.js"></script>
{% endblock javascript %}

{% block maintext %}
<h3>{{game.result_html|safe}}</h3>

<ul>
    <li> Board {{game.board}} of <a href="{{game.match.round.season.get_absolute_url}}">{{game.match}}</a></li>
    <li> Winner: {{game.winner.name}}</li>
</ul>

<div class="eidogo-player-auto" sgf="{{game.gamefile.url}}"></div>
<p>{{game.download_html|safe}}</p>

{% endblock maintext %}
