{% extends "base_CGL.html" %}

{% block javascript %}
<script src="/site_media/eidogo-player/js/all.compressed.js"></script>
{% endblock javascript %}

{% block maintext %}
<h1>Viewing {{game.school1_player.name}} ({{game.school1_player.get_rank_display}}) vs. {{game.school2_player.name}} ({{game.school2_player.get_rank_display}})</h1>

<ul>
    <li> Board {{game.board}} of {{game.match}}</li>
    <li> Winner: {{game.winner.name}}</li>
    <li> White: {{game.white_player.name}}</li>
    <li> Black: {{game.black_player.name}}</li>
</ul>

<div class="eidogo-player-auto" sgf="{{game.gamefile.url}}"></div>

<p><a href="{{game.gamefile.url}}">Download game</a></p>

<h5> Comments</h5>
<ul class='square'>
{% for comment in game.gamecomment_set.all %}
    <li><b> {% if user.get_profile %} {{user.get_profile.name}} {% else %} Anonymous {% endif %}</b> on {{comment.datetime}}: <br />{{comment.comment}}</li>
{% empty %}
    <li>No comments on this game yet!</li>
{% endfor %}
</ul>
{% if user.is_authenticated %}
<form action="./submit/" method="post"> {% csrf_token %}
{{form.as_p}}
<input type="submit" value="Submit comment">
</form>
{% endif %}
{% endblock maintext %}
