{% extends 'base_CGL.html' %}
{% block title %}Collegiate Go League - {{player.name}}{% endblock %}

{% block maintext %}
<h1>CGL Record for {{player.name}}</h1>

<ul>
	<li><strong>Name:</strong> {{player.name}}</li>
	<li><strong>Rank:</strong> {{player.get_rank_display}}</li>
	<li><strong>KGS username:</strong> {{player.KGS_username}}</li>
	<li><strong>School:</strong> {{player.school.name}}</li>
	<li><strong>Total Wins:</strong> {{player.num_wins}}</li>
	<li><strong>Total Losses:</strong> {{player.num_losses}}</li>
	<li><strong>Active?:</strong>{% if player.isActive %} Yes {% else %} No {% endif %}</li>
</ul>

<hr />

<h3>Games played</h3>
<h4>CGL</h4>
<ul>
{% for game in player.game_set %}
	<li>{{game.full_description_html|safe}}</li>
{% endfor %}
</ul>

<h4>Individual Ladder</h4>
<ul>
{% for game in player.laddergame_set %}
    <li>{{game.full_description_html|safe}}</li>
{% endfor %}
</ul>
{% endblock maintext %}
