{% extends "sidebar_CGL.html" %}

{% block BodyID %}
<body id="members">
{% endblock BodyID %}

{% block title %}{{ school.name }}{% endblock title %}

{% block maintext %}

<h3>Club President: {{school.club_president}}</h3>
<h3>Team Captain: {{ school.captain }}</h3>
<h3>CGL-KGS Account prefix: {{school.KGS_name}}</h3>
<h3>Meeting information</h3>
<p>{{school.meeting_info}}</p>
<h3><a href="{{ school.website }}">Club Website</a></h3>
<hr \>
<h3>Active Roster</h3>
<table id="roster">
	<tr>
		<td>Name</td>
		<td>Rank</td>
		<td>KGS username</td>
	</tr>
{% for player in roster %}
	<tr>
		<td>{{ player.name }}</td>
		<td>{{ player.get_rank_display }}</td>
		<td>{{ player.KGS_username }}</td>
	</tr>
{% endfor %}
</table>
{% endblock maintext %}
