{% extends "base_CGL.html" %}
{% load email_obfuscator %}
{% block title %}Collegiate Go League - {{school}}{% endblock %}

{% block maintext %}
<h1>{{school.name}}</h1>

<h3>Club President: {{school.club_president}}</h3>
<h3>Team Captain: {{ school.captain }}</h3>
<h3>CGL-KGS Account prefix: {{school.KGS_name}}</h3>
<h3>Contact email: {{school.contact_email|obfuscate|safe}}</h3>
<h3>Meeting information</h3>
<p>{{school.meeting_info}}</p>
<h3><a href="{{ school.website }}">Club Website</a></h3>
<hr />
<h4>CGL Participation</h4>
<ul>
{% for team in all_teams %}
    <li><a href="{{team.get_absolute_url}}">{{team.season.name}}</a>: {{team.num_wins}}W, {{team.num_losses}}L, {{team.num_ties}}T.</li>
{% endfor %}
</ul>
{% endblock maintext %}
