{% extends "base_CGL.html" %}

{% block maintext %}
<h1>Participating Schools</h1>

<p>This page lists only those schools that have, or are currently competing in the CGL. A full list of ACGA member schools can be found <a href="/members">here</a>

<p>We're delighted to welcome

{% for school in recent_schools %} 
	{% if not forloop.last %}<strong>{{school.name}},</strong>
	{% else %}and <strong>{{school.name}}</strong>
	{% endif %}
{% endfor%} 

to the CGL.</p>

{% for school in all_schools %}
<h3><a href="{{school.get_absolute_url}}">{{school.name}}</a></h3></li>
<ul>
	<li>Club President: {{school.club_president}}</li>
	<li>Team Captain: {{school.captain}}</li>
	<li>Club Website: <a href="{{school.website}}">{{school.website}}</a></li>
	<li>Meeting information: {{school.meeting_info}}</li>
</ul>
{% empty %}
<p>No schools found in database</p>
{% endfor %}

{% endblock maintext %}
