{% extends "basebase.html" %}

{% block maintext %}
<form action="." method="post"> {% csrf_token %}
{{form.as_p}}
<input type="submit" value="Login" />
<input type="hidden" name="next" value="{{next}}" />
</form>

<p>Forgot your username? <a href="/accounts/username_reminder/">Send an email with your username</a></p>

<p>Forgot your password? <a href="{% url auth_password_reset %}"> Send an email with a password reset link.</a></p>

<p><a href="{% url registration_register %}">Register for a new account</a></p>
{% endblock %}

