{% extends "members.html" %}

{% block maintext %}
<h2>Login</h2>
<br />

<form method="post" action="">
{% csrf_token %}
    <table>
    {{ form.as_table }}
    <tr>
        <td>
            <input type="submit" value="Login" />
            <input type="hidden" name="next" value="/accounts/profile/" />
        </td>
    </tr>
    </table>
</form>
<br />
<br />
<p>Forgot password? <a href="../password/reset">Reset it!</a></p>
<p>Not registered yet? Go to the <a href="../register/">registration page</a> to sign up!</p>
{% endblock maintext %}
