{% extends "members.html" %}

{% block maintext %}
<h2>Register An ACGA User Account</h2>
<br />
<!--{% if alphaform %}
	<p><strong>Please select the first letter of the school with which your club is affiliated.</strong></p>
        {% if error %}
        <p style="color: red;"> {{ error }} </p>
        {% endif %}
-->
    <form action="#form" method="post">
    {% csrf_token %}
    {{ form.as_p }}
<!--        <select name="letter">
            {% for object in alphabet %}
                <option name="letter" value="{{ object }}">{{ object }}</option>
            {% endfor %}
        </select>
-->
    <input type="submit" value="Submit">
    </form>
<!--	<p>Only college and university-affiliated clubs in the United States are currently eligible for membership. If your club lies outside the United States, please <a href="/contact/">contact us</a> to register.</p>
	</li>
{% endif %}
{% if schoolform %}
        {% if error %}
        <p style="color: red;"> {{ error }} </p>
        {% endif %}

        <form action="" method="post">
        {% csrf_token %}
        <select name="school">
            {% for school in schools %}
                <option name="school" value="{{ school.name }}">{{ school.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit">
        </form>
	<br />
	<p><strong>Please select the school with which your club is affiliated.</strong></p>
	<p>If you don't see your school's name, please <a href="/membership/contact/">contact us</a> and we'll set you up.</p>
	<p>Only college and university-affiliated clubs in the United States are currently eligible for membership. If your club lies outside the United States, please <a href="/contact/">contact us</a> to register.</p>
{% endif %}
{% if already_exists %}
	<p style="color: red;"> A club has already been registered with the school you selected.</p>
	<p>Head to the <a href="/membership/search/">membership search</a> to find the contact information and description for that club.</p>
	<br />
	<br />
	<p>If you think you've reached this page in error, please return to the <a href="/membership/register/">registration page</a>, the <a href="/membership/login/#form">login page</a> or contact the <a href="/contact/">site administrator</a>.</p>
{% endif %}
{% if new %}
	<p>Please create a strong password below to finish registration for the <strong>{{ user_request }}</strong> club profile.</p>
	<p><strong>Remember your password!</strong></p>
	<form action="" method="post">
        {% csrf_token %}
	{% if error %}
	<p style="color: red;">Sorry, your passwords didn't match - please try again.</p>
	{% endif %}
	<table>
	<tr><th><label for="id_password">Password:</label></th><td><input type="password" name="password" /></td></tr>
	<tr><th><label for="id_confirm">Confirm:</label></th><td><input type="password" name="confirm" /></td></tr>
	<tr><th><label for="id_state">State:</label></th><td><select name="school">
            {% for state in states %}
                <option name="state" value="{{ state }}">{{ state }}</option>
            {% endfor %}
        </select></td></tr>
	<tr><th><label for="id_email">Club Representative Email:</label></th><td><input type="email" name="email" /></td></tr>
	</table>
	<input type="hidden" name="next" value="/membership/profile" />
	<input type="hidden" name="user_request" value="{{ user_request }}"/>
        <input type="submit" value="Submit">
        </form>
{% endif %}
</div>

-->
	<!-- end #content -->
{% endblock maintext %}
