{% extends 'base_accounts.html' %}

{% block maintext %}
<h3>Edit / Upload Games </h3>

<p> Here are all of your matches from this season. You may submit and edit game records for the most recent match only. Match and season scores are recalculated every midnight, so you should not expect to see the numbers update immediately.</p>

<p> If this page has been sitting open in your browser for a long time, you should refresh it before you start uploading your games; this way, you don't accidentally upload the same game simultaneously with the other team captain! (If such an editing kerfuffle arises, let us know (ACGA.organizers@gmail.com) and we'll fix things up.)</p>

<p> Match results, leaderboard standings, and individual player records are recomputed every day at midnight - so don't worry if the match still shows (0 - 0) even after you upload your games</p>

{% for match in relevant_matches %}
<h4>{{match.round.date}} {{match.display_match}}</h4></li>
{% if match.round.in_near_past %}
	<ul class="disc">
		{% for game in match.game_set.all %}
	<li><a href="/accounts/edit/game/{{game.id}}/">[Edit game] </a>{{game.result_html|safe}}</li>
		{% endfor %}
		{% for forfeit in match.forfeit_set.all %}
	<li><a href="/accounts/edit/forfeit/{{forfeit.id}}/">[Edit forfeit]  </a>{{forfeit.display_result|safe}}</li>
        {% endfor %}
	<li><a href="/accounts/edit/match/{{match.id}}/create/game/">Create a new game </a></li>
	<li><a href="/accounts/edit/match/{{match.id}}/create/forfeit/">Create a new forfeit</a></li>
    </ul>
{% else %}
	<ul class="disc">
		{% for game in match.game_set.all %}
	<li>{{game.result_html|safe}}</li>
		{% endfor %}
		{% for forfeit in match.forfeit_set.all %}
	<li>{{forfeit.display_result|safe}}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endfor %}
{% endblock %}
