{% extends 'base_accounts.html' %}

{% block maintext %}
<h4> {{link_request}}</h4>
<p> User "{{link_request.user}}" with email address {{link_request.user.email}} requested to link to <a href="{{link_request.player.get_absolute_url}}">{{link_request.player}}</a></p>

<p>(The last link request that you approve will override previous requests by the same user. You only need to worry about this if the same person made multiple requests to link to different player database entries.)</p>

<form action="." method="post"> {% csrf_token %}
{{form.as_p}}
<input type="submit" value="Approve or reject link request">
</form>

{% endblock %}
