{% extends 'base_accounts.html' %}

{% block maintext %}
<h4> Edit your school's information </h4>
<form action="." method="post">
{% include 'form_snippet.html' %}
<input type="submit" value="Update information">
</form>

<h4> Your school's roster </h4>
<p> (Leave "Unknown Player" alone - he gets saddled with all of your games where we couldn't match a game with the person who played it)</p>
<ul>
{% for player in school.player_set.all %}
    <li><a href="{{player.get_absolute_url}}">{{player.name_and_rank}}</a> --- <a href="/accounts/edit/player/{{player.id}}">Edit</a></li>
{% empty %}
    <li>You have no players in your roster. Add your first player below!</li>
{% endfor %}
</ul>

<p><a href="/accounts/edit/school/{{school.slug_name}}/create/player/"> Add a new player to your roster</a></p>
{% endblock %}
