{% extends "sidebar.html" %}

{% block BodyID %}
<body id="members">
{% endblock BodyID %}

{% block title %}Members{% endblock title %}

{% block maintext %}
<div id="members">
<br />
<ul>
    <li><h3><a href="http://mygroups.brown.edu/organization/goclub">Brown University</a></h3>
        <table>
             <tr><td>Will Lockhart	</td><td>4d</td></tr>
             <tr><td>Jimmy Chan		</td><td>3d</td></tr>
             <tr><td>Zifan Yang		</td><td>1d</td></tr>
             <tr><td>Zack Winoker	</td><td>6k</td></tr>
             <tr><td>Ian Sprung		</td><td>8k</td></tr>
             <tr><td>Jon Aronson	</td><td>6k</td></tr>
        </table>
    </li>
    <li><h2><a href="http://www.facebook.com/group.php?gid=79121241616">Northeastern University</a></h2>
        <table>
            <tr><td>Guochen Xie		</td><td>5d</td></tr>
            <tr><td>Ming Li			</td><td>4d</td></tr>
            <tr><td>Max Riestenberg	</td><td>5k</td></tr>
            <tr><td>Josh Warhurst	</td><td>8k</td></tr>
            <tr><td>Ryan Brown		</td><td>10k</td></tr>
        </table>
    </li>
    <li><h2><a href="http://web.mit.edu/go/">MIT</a></h2>
        <table>
            <tr><td>Cherry Shen		</td><td>4d</td></tr>
            <tr><td>Brian Lee		</td><td>1k</td></tr>
            <tr><td>Tommy Liu		</td><td>3k</td></tr>
            <tr><td>Daniel Grazian	</td><td>5k</td></tr>
            <tr><td>David Koh		</td><td>6k</td></tr>
            <tr><td>Yuan Cao		</td><td>7k</td></tr>
			<tr><td>Chris Jones		</td><td>15k</td></tr>
			<tr><td>Ben Green		</td><td>   </td></tr>
        </table>
    </li>
    <li><h2><a href="http://my.brandeis.edu/clubs/goclub">Brandeis</a></h2>
        <table>
            <tr><td>Michael Fodera	</td><td>5d </td></tr>
            <tr><td>Harold Bell		</td><td>3k </td></tr>
            <tr><td>Daniel Koch		</td><td>4k </td></tr>
            <tr><td>Michael Haskell	</td><td>10k</td></tr>
            <tr><td>Walker Stern	</td><td>12k</td></tr>
            <tr><td>Asaf Reich		</td><td>15k</td></tr>
        </table>
    </li>
</ul>

</div>
{% endblock maintext %}
