{% extends "basebase.html" %}


{% block navigation %}
	<div class="seven columns">
	<ul class="nav-bar left">
		<li><a href="/">ACGA</a></li>
		<li><a href="/members/">Members</a></li>
		<li><a href="/events/">Events</a></li>
		<li><a href="/resources/">Resources</a></li>
	</ul>
	</div>
	
	<div class="five columns">
	<ul class="nav-bar right">
		<li><a href="/CGL/">CGL</a></li>
		<li><a href="/ing/">Ing</a></li>
		<li><a href="/about/" id="aboutnav">About</a></li>
		<li><a href="/contact/" id="contactnav">Contact</a></li>
	</ul>
	</div>

{% endblock navigation %}