{% extends "base_ACGA.html" %}

{% block logo %}
	<div class="panel">
	<h2 style="font-size:34px;">Welcome to the American Collegiate Go Association </h2>
	</div>
{% endblock logo %}

{% block content %}

<div class="row">

	<div class="six columns">
	<div class="panel">
	<h3>The <strong>ACGA</strong> is a national network of schools, dedicated to strengthening the American Go community.</h3>
	</div>
	</div>
	
	<div class="six columns">
	<div class="panel">
	<h3>We organize and run the <a href="/CGL">Collegiate Go League</a>, the first online competitive league for college Go clubs.</h3> 
	</div>
	</div>

</div>
<!--
<div class="row">
	<div class="twelve columns">
	&nbsp;
	<img src="../site_media/FrontMontage-horizontal.jpg" alt="Sorry, can't display this image!" style="center"/>
	&nbsp;
	</div>
</div>
-->
<div class="row">
	
	<div class="four columns">
	<div class="panel">
	<h4> The ACGA represents <a href="/members">schools from all over North America</a></h4>
	</div>
	</div>
	
	<div class="four columns">
	<div class="panel">
	<h4> We provide <a href="/resources">resources for Go clubs and event organizers </a></h4>
	</div>
	</div>
	
	<div class="four columns">
	<div class="panel">
	<h4> Sponsored by the <a href="/ing">Ing Chang-Ki Weiqi Foundation</a></h4>
	</div>
	</div>
	
</div>

<div class="row">

	<div class="twelve columns">
	<div class="panel">
	<h3>Upcoming Events: <a href="/CGL/results/">Collegiate Go League Season Two Championships (April 6th, 20th)</a></h3>
	</div>
	</div>
	
</div>


{% endblock content %}

