{% extends "base_ACGA.html" %}

{% block content %}
<div class="row">
	<div class="twelve columns">
	<div class="panel">

<!-- <img style="float:right;margin:15px 0px 0px 20px;" src="../site_media/FrontMontage.jpg" alt="Sorry, can't display this image!"/>-->	
	<h1>Welcome to the ACGA!</h1>
	</div>
	</div>
</div>
	<!-- KILL THIS WITH FIREEEEEEEEE it's ugly
	{% for post in latest_posts %}
	<div class='newsfeed'>
		<h4>{{post.get_date}}</h4><h3>{{post.title}}</h3>
		{{post.preview|safe|linebreaks}}
		<p><a href="/news/{{post.id}}">Read more...</a></p>
	</div>
	<hr />
	{% endfor %}
	-->
<div class="row">

	<div class="six columns">
	<div class="panel">
	<h3>The <strong>American Collegiate Go Association</strong> is a national network of schools and students dedicated to strengthening the American Go community.</h3>
	</div>
	</div>
	
	<div class="six columns">
	<div class="panel">
	<h3>We run the <a href="/CGL">Collegiate Go League</a>, the first online competitive league for college Go clubs.</h3> 
	</div>
	</div>

</div>
{% endblock content %}

