{% extends "sidebar_aboutus.html" %}

{% block maintext %}
<h1>The Ing Foundation</h1>

<p>A philanthropic legacy of Taiwan-based industrialist and Go player <strong>Ing Chang-Ki</strong>, the Ing Chang‐Ki Wei‐Chi Education Foundation was founded to support the growth of Go through educational methods. In 1996, Mr. Ing donated 16 million RMB to create a branch of the Foundation in Shanghai. The <strong>Shanghai Ing Chang-Ki Wei-Chi Education Foundation</strong> is one of Mr. Ing's major philanthropic legacies, and the ACGA's major sponsor, and for its support we are extremely grateful! </p>

<p>For more information about the promotional and philanthropic work of the Ing Foundation, or to contact Ing representatives in the U.S. or abroad, visit the <a href="http://www.usgo.org/ingfoundation">U.S. Ing Chang-Ki Wei-Chi Education Foundation website</a>, or contact <a href="mailto:minxiaogo@gmail.com">Min Xiao</a> at the American Ing Chang-Ki Wei-Chi (GO) Educational Center.</p>

<img src="/site_media/ing-bust.jpg" alt="Image not found!">

{% endblock maintext %}

