{% extends "base_ACGA.html" %}

{% block PageID %}<div id="members">{% endblock PageID %}

{% block title %}Members{% endblock title %}

{% block maintext %}
<h3>New members:</h3>
<p>We're delighted to welcome

{% for school in recent_schools %} 
	{% if not forloop.last %}<strong>{{school.name}},</strong>
	{% else %}and <strong>{{school.name}}</strong>
	{% endif %}
{% endfor%} 

to the ACGA.</p>

{% for school in all_schools %}
<h3>{{school.name}}</h3></li>
<ul>
	<li>Club President: {{school.club_president}}</li>
	<li>Club Website: <a href="{{school.website}}">{{school.website}}</a></li>
	<li>Meeting information: {{school.meeting_info}}</li>
</ul>
{% empty %}
<p>No schools found in database</p>
{% endfor %}

{% endblock maintext %}
