{% extends "base_ACGA.html" %}

{% block content %}
<div class="row">
	<div class="eight columns">
	<div class="panel">
	{% block maintext %}
	<p>Default maintext</p>		
	{% endblock maintext %}
	</div>
	</div>	

	<aside class="four columns">
	<div class="panel">
	<h2>Current leadership</h2>
	<ul>
	    <li>Brown University:
	    	<br/>
	    	<p><strong>Cole D. Pruitt</strong> (1 kyu) <br/> 
	    	<strong>Will Lockhart</strong> (4 dan) <br/> 
	    	<strong>Stephen Palazola</strong> (1 kyu)</p>
	    </li>
	    <li>Northeastern University:
	    	<p><strong>Guochen Xie</strong> (7 dan)</p>
	    </li>
		<li>Brandeis University:
	    	<p><strong>Mike Fodera</strong> (5 dan)</p>
	    </li>
	    <li>Harvard University/MIT:
	    	<p><strong>Brian Lee</strong> (1 dan)</p>
	    </li>
	    <li>University of Toronto:
	        <p><strong>Dinesh Ramdhayan</strong> (4 kyu)</p>
	    </li>
	</ul>
	</div>
	<div class="panel">
	<h2>Contributors</h2>
	<ul>
	    <li>Brown University:
	        <br />
	    	<p><strong>Zack Winoker</strong> (6 kyu) <br/></p>
	    </li>
	
	    <li>Brandeis University:
	    	<br/>
	    	<p><strong>Mike Fodera</strong> (5 dan) <br/> <strong>Mike Haskell</strong> (9 kyu) <br/><strong> Daniel Koch</strong> (5 kyu)</p>
	    </li>
	    	
	    <li>Wellesley College:
	    	<br/>
	    	<p><strong>Cherry Shen</strong> (4 dan)</p>
	    </li>
	    	
	    <li>Cornell University:
	    	<br/>
	    	<p><strong>David Glekel</strong> (1 dan)</p>
	    </li>
	
	    <li>University of Virginia:
	        <br />
	        <p><strong>Christopher Hsing</strong> (6 kyu)</p>
	    </li>
	
	    <li>Graduates:
	    	<br/>
	    	<p><strong>Walther Chen</strong> (4 dan)</p>
	    </li>
	    	
	</ul>
	</div>

	</div>
	</aside>	
</div>


</aside>

{% endblock content %}