{% extends "default.html" %}

{% block BodyID %}
{% endblock BodyID %}

{% block maintext %}
{% endblock maintext %}

{% block sidebar %}
<ul>
	<li>
		<h2>Latest News</a></h2>
		<ul>
{% for news in sidebar_latest_news %}
			<li><a href="/news/{{news.id}}">{{news.tagline}}</a></li>
{% endfor %}
			<li><a href="/contact/">Sign your school up to participate this season</a></li>

		</ul>
	</li>

<!--	<li>
		<h2>Calendar</h2>
		<p> Visit the <a href="https://www.google.com/calendar/embed?src=collegiate.go%40gmail.com&ctz=America/New_York">ACGA google calendar</a> to stay up to date on all things go!</p>
		<iframe src="https://www.google.com/calendar/embed?src=collegiate.go%40gmail.com&ctz=America/New_York" style="border: 0" width="270" height="200" frameborder="0" scrolling="no" alt="Sorry, your browser doesn't handle the Google Calendar iframe!></iframe>
	</li> -->
</ul>
{% endblock sidebar %}
