{% extends "event_template.html" %}

{% block maintext %}

<h2> 2012 ACGA Spring Go Open </h2>

<p>On April 7th and 8th, the ACGA will be holding its first workshop weekend at the Massachusetts Institute of Technology (MIT).</p>

<h3>Saturday</h3>
<p>Chinese Professional 1p Stephanie Mingming Yin will be conducting a workshop for players of all levels.  Participants will be split into two sections, dan and kyu, to play friendly games.  Then Stephanie will review your games in a workshop setting.</p>

<ul>
<li> 9-10AM: Registration</li>
<li> 9:30-10:30AM: Q&A with Stephanie</li>
<li> 10:30-11:40AM: Intermediate level, Go Theory </li>
<li> 11:50AM-1PM: Intermediate-Advanced level, Opening Theory </li>
<li> 1-2PM: Lunch Break</li>
<li> 2-3:30PM: Advanced level, Strategy and Positional Judgment</li>
<li>3:40-5:40PM: Stephanie will review two of her tournament games</li>
<li>5:40-6PM: Q&A with Stephanie</li>
</ul>

<h3>Sunday</h3>
<h4>Tournament Day!</h4>

<p>We will host a tournament with an open division (4d+), and two handicapped divisions - a dan division, and a kyu division. The tournament will have four rounds, and will start promptly at 10am, ending around 6pm. (Registration/check-in starts at 9:30.) Tournament rules are as follows:</p>

<ul>
<li> 30 minutes main time, 25 stones/5 minutes Canadian byo-yomi overtime </li>
<li> Ing ruleset, with 7.5 points komi. </li>
<li> AGA membership not required </li>
<li> Handicapped kyu division: 1k and down (may be adjusted depending on turnout)</li>
<li> Handicapped dan division: 1d-4d (may be adjusted depending on turnout)</li>
<li> Open dan division: 4d+, no handicaps.</li>
</ul>

<p>We will have cash prizes of $100 and $50 for top two places in the Open division, and $50, $25 for top two places in both Dan and Kyu divisions.</p>

<h3>Logistics/Details</h3>

<p>Events start promptly at 10am. Breakfast will be provided on both days. Pricing for non-students will be $20 for the workshop, $15 for the tournament, or $30 combo for both days. College students can participate both days at no charge. Location of the event is the Whittaker Building, room 154, or 56-154 in MIT-lingo. <a href="http://whereis.mit.edu/?go=56">Campus Map</a></p>

<h3> We ask that you preregister <b><a target="_blank" href="https://docs.google.com/spreadsheet/viewform?formkey=dDRpcWZUZ25vNGFxaVhKUlhGUXBadXc6MQ">here</a></b>.</h3>

</div>
<div class="panel">

<h2>Event Report </h2>

<p>Our workshop on Saturday, April 7th, was a great success! 30 people from around the Boston area came by to learn from Stephanie Yin 1p. </p>

<p>We also had cameras rolling on-scene to gather footage for an upcoming documentary on Go. </p>

<p>We have transcriptions of Stephanie's lessons. You can <a href="/site_media/sgf/ACGA_Go_Workshop_April_2012.zip">download the transcripts here.</a></p>

<p>On Sunday, April 8th, we held an in-person tournament at MIT, as a followup to our Go Workshop the previous day. We had 16 players, split into two divisions: Open (Dan) and Kyu sections.</p>

<p>Ke Lu 5d won the open section, with Mike Fodera 5d in second place and Will Lockhart 5d and Jerry Shen 5d tying for third place.</p>

<p>Ryan Brown 11k won the kyu section, with Steven Winer 6k in second place and Jingxiao Lu 2k in third place.</p>

<p>Full results can be found <a href="https://docs.google.com/spreadsheet/ccc?key=0AlmouIN9gbrVdEtYNzIySkFlSmxnS2NvUEJkY1dfLWc"> here </a>.</p>
{% endblock maintext %}