{% extends "event_template.html" %}

{% block maintext %}

<h2> 2013 ACGA Spring Go Expo </h2>

<p>The 2013 ACGA Spring Go Expo is a two-day celebration of the ancient Chinese game of Go, to be held jointly at Harvard University and MIT. Aimed at both Go players and the general public, the Expo will emphasize the importance of cross-cultural education and collaboration, especially as applied to Go and its future in America.</p>

<p>Along with key figures from the American Go community, the Chinese delegation will include Chang Hao, 9-dan professional Go player, Liu Siming, the president of the Chinese Bureau of Games (中国期院), and Ing Minghao, the president of the Ing Chang-Ki Weiqi Education Association, a philanthropic organization dedicated to worldwide Go education, a legacy of business magnate Ing Chang-Ki. Culminating in a Chinese-American professional exhibition match between Andy Liu 1p, and Chang Hao 9p, the event will include simultaneous matches against professional players, a preview of the first feature-length documentary on Go, "The Surrounding Game", public teaching and demonstrations, a youth Go tournament, and lectures on the relevance of Go beyond the board.</p>

<p>The Expo is open free of charge to the general public, and we especially encourage students (K-12 and university) to attend. The American Collegiate Go Association is dedicated to promoting Go to students as a means for education; we are happy to provide travel and accommodation subsidies to students and other attendees who might not otherwise attend. Further, the Expo will include a workshop and tournament specially designed for K-12 students.</p>


{% endblock maintext %}