{% extends "event_template.html" %}

{% block maintext %}

<h2> 2013 ACGA Spring Go Expo </h2>

<p>The 2013 ACGA Spring Go Expo will be a two-day event, held on March 23-24. The first day will take place at Harvard's Yenching Auditorium, and the second day will take place at MIT's Lobdell Dining Hall in the Stratton Student Center.</p>

<hr />

<h4> Preregistration</h4>

<p>Use the two forms below to register for the event. The first is general registration for everyone. The second is optional, and covers everything related to travel/carpooling/travel grants, and housing / hosting. Fill out the second form if you would like to volunteer to host, if you want to request housing, or have any questions about transportation. </p>

<p>Thanks to the generosity of the Ing Foundation, we are able to offer up to $50 per student attendee as an out-of-town travel grant. To apply, fill out the second travel form, and we'll get in touch with you to confirm your plans and reimbursement.</p>

<p>Please <a href="mailto:acga.organizers@gmail.com">contact us</a> with any questions - we're looking forward to seeing you there!</p>

<ul class="square">
	<li><a href="https://docs.google.com/spreadsheet/viewform?formkey=dG8wc0wzR0JGY1p6MGVtano3bGd3X2c6MQ#gid=0">Main Registration Form</a></li>
	<li><a href="https://docs.google.com/spreadsheet/viewform?formkey=dHM0QnhnVHpfcjQwN0JkWm9kZGJaMEE6MQ#gid=0">(Optional!) Travel and Housing Form / Host Volunteer Form</a></li>
</ul>

<img src="/site_media/springgoexpo.jpg" alt="Cole plays kid in China" />

<hr />

<h4>Who's coming?</h4>

<p>The 2013 ACGA Spring Go Expo is a two-day celebration of the ancient Chinese game of Go, to be held jointly at Harvard University and MIT. Aimed at both Go players and the general public, the Expo will emphasize the importance of cross-cultural education and collaboration, especially as applied to Go and its future in America.</p>

<p>We welcome the following guests of honor from China:</p>

<ul class="square">
	<li>Liu Siming, the President of the China Qiyuan (中国棋院).</li>
	<li>Ing Minghao, the President of the Ing Chang-Ki Weiqi Education Foundation, a philanthropic organization dedicated to worldwide Go education with headquarters in Shanghai and Taiwan, a legacy of business magnate Ing Chang-Ki.</li>
	<li>Yaoliang, the Secretary-General of the Shanghai Ing Foundation.</li>
	<li>Ms. Lu Wen Zhen, Director of the Shanghai Ing Foundation</li>
	<li>Chang Hao, 9p, a Chinese professional Go player and former world champion.</li>
	<li>John Xiao, former Chinese University Tournament champion.</li>
	<li>Zhang Jian Dong, a reporter from the Xinmin Evening News.</li>
</ul>

<p>Additionally, we welcome the following notables:</p>

<ul class="square">
	<li>Stephanie Yin 1p, a Chinese professional Go player living in the US.</li>
	<li>Narumi Osawa 4p, a Japanese professional Go player visiting from the Nihon Ki-in</li>
	<li>Andy Liu 1p, newly minted U.S. professional Go player.</li>
	<li>Gansheng Shi 1p, newly minted U.S. professional Go player.</li>
	<li>Elwyn Berklekamp, Professor of Mathematics at UC Berkeley, who will give a talk on game theory.</li>
	<li>Peter Schumer, Professor of Mathematics at Middlebury, who will give a talk on Go education.</li>
</li>
</ul>

<p> The event will include a Chinese-American professional exhibition match between Andy Liu 1p, and Chang Hao 9p, simultaneous matches against professional players, a preview of the first feature-length documentary on Go, "The Surrounding Game", public teaching and demonstrations, a youth Go tournament, and lectures on the relevance of Go beyond the board.</p>

<p>The Expo is open free of charge to the general public, and we especially encourage students (K-12 and university) to attend. The American Collegiate Go Association is dedicated to promoting Go to students as a means for education; we are happy to provide travel and accommodation subsidies to students and other attendees who might not otherwise attend. Further, the Expo will include a workshop and tournament specially designed for K-12 students.</p>

<hr />

<h4>Expo Schedule</h4>


<p><strong>Day 1 (Saturday, 23 March)</strong> at Harvard's <a href="http://map.harvard.edu/mapserver/campusmap.htm?bld=04930">Student Organization Center at Hilles (SOCH)</a></p>
<ul class="square">
	<li>Morning Activities (Doors open at 9am)
		<ul>
			<li>Simultaneous Go games with visiting professional players.</li>
		</ul>
	</li>
	<li>Welcoming introductions from the Chinese Delegation and leaders of the ACGA. (11am)
		<ul>
			<li>A presentation on Go and Chinese culture.</li>
			<li>A variety of cultural performances and events.</li>
			<li>Learn to play Go.</li>
			<li>Performances by Chinese cultural groups.</li>
		</ul>
	</li>		
	<li>Catered Lunch</li>
	<li>Afternoon Activities
		<ul>
			<li>Extended preview of "The Surrounding Game" documentary, and Q&amp;A with makers.</li>
			<li>Talk by Elwyn Berlekamp</li>
			<li>Q&amp;A with Chang Hao 9p.</li>
			<li>Exhibition match between Andy Liu 1p and Chang Hao 9p, with live commentary</li>
			<li>Game play</li>
		</ul>
	</li>
</ul>


<p><strong>Day 2 (Sunday, 24 March)</strong> at MIT's <a href="http://whereis.mit.edu/?go=W20">Stratton Student Center</a></p>

<ul class="square">
	<li>Morning Activities (Doors open at 9am)
		<ul>
			<li>Talk by Peter Schumer</li>
			<li>Go workshop for all levels with Yin Mingming 1p and Andy Liu 1p</li>
			<li>Youth Go workshop with Shi Gansheng 1p</li>
			<li>Youth Tournament</li>
			<li>Game Play</li>
		</ul>
	</li>
	<li>Lunch</li>
	<li>Afternoon Activities
		<ul>
			<li>Simultaneous games with professional players</li>
			<li>Game play</li>
			<li>Closing Remarks</li>
		</ul>
	</li>
</ul>


{% endblock maintext %}
