{% extends "sidebar.html" %}

{% block BodyID %}
<body id="schools">
{% endblock BodyID %}

{% block title %}{{ school.name }}{% endblock title %}

{% block maintext %}

<h3><a href="{{ school.website }}">Club Website</a></h3>

<h3>Team Captain: {{ school.captain }}</h3>

<h3>Active Roster</h3>
<table id="roster">
{% for player in roster %}
	<tr>
		<td>{{ player.name }}</td>
		<td>{{ player.rank }}</td>
	</tr>
{% endfor %}
</table>

{% if retired %}
<h3>Inactive players</h3>
<table id="retired">
{% for player in retired %}
	<tr>
		<td>{{ player.name }}</td>
		<td>{{ player.rank }}</td>
	</tr>
{% endfor %}
</table>
{% endif %}

{% endblock maintext %}