{% extends "default.html" %}

{% block BodyID %}
{% endblock BodyID %}

{% block maintext %}
{% endblock maintext %}

{% block sidebar %}
<ul>
	<li>
	<h2>CGL - Latest News </h2>
    <ul>
    	<li><a href="/tournaments/">Tournament Details Announced!</a></li>
    	<li><a href="/contact/">Sign your school up to participate this season</a></li>
	</ul>
	</li>
	<li>
	    <h2>Upcoming Matches</h2>
        <p><strong>3 March, 1 PM EST.</strong></p>
		<ul>
		<li> Brown versus U. Michigan </li>
		<li> Princeton versus U. Virginia </li>
	<li> Cornell versus Brock University </li>
	<li> MIT versus U. Maryland </li>
	<li> Brandeis versus DeAnza College </li>	
	</ul>
		
	</li>
	<li>
		<h2>Past Matches</h2>
        <p><strong>18 February, 1 PM EST.</strong></p>
		<ul>
		    <li>Brown defeats Princeton, 4-1</li>
		    <li>Brandeis defeats Cornell, 3-2</li>
		    <li>MIT defeats Northeastern University, 4-1</li>
		</ul>
        <p><strong>4 February, 1 PM EST.</strong></p>
		<ul>
			<li>Brown University defeats MIT, 3-2</li>
			<li>Northeastern University defeats Brandeis University, 3-2</li>
		</ul>
	</li>
<!--	<li>
		<h2>Calendar</h2>
		<p> Visit the <a href="https://www.google.com/calendar/embed?src=collegiate.go%40gmail.com&ctz=America/New_York">ACGA google calendar</a> to stay up to date on all things go!</p>
		<iframe src="https://www.google.com/calendar/embed?src=collegiate.go%40gmail.com&ctz=America/New_York" style="border: 0" width="270" height="200" frameborder="0" scrolling="no" alt="Sorry, your browser doesn't handle the Google Calendar iframe!></iframe>
	</li> -->
	<li>
		<h2>Games of the Month</h2>
		<a href="/site_media/gamefiles/02-18-12/Cornell1-CGLBrand1.sgf">Mike Fodera 5d vs. Yidong Wang 6d</a>
	</li>
</ul>
{% endblock sidebar %}
