{% extends "sidebar.html" %}

{% block BodyID %}
<body id="tournaments">
{% endblock BodyID %}

{% block title %}Collegiate Go League{% endblock title %}

{% block maintext %}
<div id="tournaments">

<p> The CGL is the first online competitive league for college Go clubs, hosted on KGS, one of the most popular online go servers. Each school fields a team of five players who compete against another school every two weeks, on Saturdays at 1pm EST / 10am PST. Games are handicapped, and hosted in the Collegiate Go League club room on KGS.  After the matches, strong players will review several of the games, giving a chance for kyu and dan-level players alike to improve and meet other players in the collegiate Go community. </p>
<p><b><a href="/contact/">Participate in our next match.</a></b></p>

<h2>League information</h2>

<ul>
    <li><b>Currently Participating Schools:</b> MIT, Brown, Brandeis, Northeastern, Cornell, Princeton, U. Maryland, U. Michigan, U. Virginia, Brock University</li>
    <li><b>Location:</b> KGS, Room: "Collegiate Go League", under "Club rooms".</li>
    <li><b>Tournament Format:</b> Matches will occur every two weeks until mid-April. At the end of the season there will be a non-handicapped championship tournament, with seeding determined by most match victories during the semester; ties broken by most individual victories.</li>
    <li><b>Match Format:</b> A "match" refers to a set of five games between two schools. Each school will field five players. The five players from each team will play each other, sorted from strongest to weakest. The match will be won by the school who wins best of the five boards.</li>
	<li><b>Team Format:</b> Each school will nominate a team captain, who will maintain a roster of active team members. These team members should be active members of the club. There is no limit to the number of people on a roster, although only five team members may represent a school in a match. People are eligible to compete for a college club if they are active members of the club.</li>
    <li><b>Game settings:</b> 30m main time, 5x30second byo-yomi, Chinese Ruleset with 6.5 points komi, unrated, handicapped according to KGS ratings, no undos. A moderator will be on hand to resolve any disputes/conflicts.</li>
	<li><b>Season 1 Game Dates:</b> Saturdays, Feb 4rd, Feb 18th, Mar 3rd, Mar 17th, Mar 31st, Apr 14th, Apr 28th.</li>
	<li><b>Game Time:</b> Games start at 1pm EST, and should end by 3pm EST. Please arrive half an hour earlier than the match start, to minimize delays.</li>
</ul>
<br/>

<br/>
<h2>Upcoming Matches!</h2>

<h3>March 3rd:</h3>

<li> Brown versus U. Michigan </li>
<li> Princeton versus U. Virginia </li>
<li> Cornell versus Brock University </li>
<li> MIT versus U. Maryland </li>
<li> Brandeis versus DeAnza College </li>
<br/>
<br/>

<h3>Looking for game records?  Check out <a href="/results/">Past Results</a></h3>

<hr />
<br />
</div>
{% endblock maintext %}
