{% extends "basebase.html" %}

{% block content %}
<div class="row">
<div class="twelve columns">
<div class="panel">
<h1> Not authenticated... </h1>
<br/>
<p>Sorry, we can't figure out which school you're the team captain for. You should have gotten a magic link that looked like "https://college-go.org/CGL/seasons/current/matches/?captain_school_auth=ABC123" when you first signed up for the CGL - clicking that link will let us know who you are. If you need this link again, contact a CGL admin.</p>
</div>
</div>
</div>
{% endblock content %}
