{% extends "sidebar2.html" %}

{% block BodyID %}
<body id="about">
{% endblock BodyID %}

{% block title %}About the ACGA{% endblock title %}
{% block maintext %}
<p>The <strong>American Collegiate Go Association</strong> was founded in 2011 to spread <a href="http://en.wikipedia.org/wiki/Go_(game)">the magic of Go</a> in the United States.</p>
<p>In July 2011, eleven students from the U.S. attended the first ever <strong>Ing Foundation China Summer Go Camp</strong>. Motivated by the culture of Go in China, and determined to spread the game, these students founded the ACGA to <strong>network between existing collegiate clubs</strong>, foster the <strong>rapid growth of Go</strong> in the United States, and contribute to the <strong>worldwide Go community</strong>. </p>
<br />
<h2>Current goals of the ACGA include:</h2>
<br />
<ul>
	<li>
	    <ul>
		    <li><strong>Consolidating contact information</strong>, tournament availability, resources, and needs for collegiate go clubs</li>
		    <li>Organize <strong>simul matches</strong> against Chinese professional players for member clubs</li>
		    <li>Host regional and national <strong>collegiate tournaments</strong> early in 2012</li>
		    <li>Provide references, resources, and organizational <strong>support for new clubs</strong> nationwide</li>
		    <li>Bring a delegation of <strong>Chinese college students</strong> to the United States in summer 2012 for cultural exchange and go matches</li>
            <p>As a growing organization focusing on new player recruitment, we welcome your input and suggestions on how to benefit the collegiate go community. <a href="../contact/">Let us know what you think!</a></p>
        </ul>
    </li>
</ul>
{% endblock maintext %}
