{% extends "sidebar2.html" %}

{% block BodyID %}
<body id="about">
{% endblock BodyID %}

{% block title %}About the ACGA{% endblock title %}
{% block maintext %}
<p>In July 2011, eleven college students from the U.S., many of whom were presidents of their school's Go clubs, attended the first ever <strong>Shanghai Ing Foundation China Summer Go Camp</strong>. The team experienced Chinese culture first-hand and played friendly matches with students at Shanghai Jiao Tong University, Beijing Normal University, and Fudan University.</p>
<p>Inspired by strong culture of Go in China, the <strong>American Collegiate Go Association</strong> was conceived in 2011 by those very students to spread <a href="http://en.wikipedia.org/wiki/Go_(game)">the magic of Go</a> in the United States.</p>
<p>Until the founders met each other, they didn't know about other university Go clubs. There were no intercollegiate events, and existing lists of clubs were horribly out of date. By hosting tournaments and providing guidance, we believe we can link college clubs together to spur the rapid growth of Go in the United States, contributing to the worldwide Go community</p></p>
<br/>
<h2>Our current goals:</h2>
<br/>
<ul>
	<li>
	    <ul>
		    <li>Compile and maintain <strong>up-to-date contact information</strong> for collegiate go clubs</li>
		    <li>Host <strong>online collegiate tournaments</strong> starting in Feb 2012</li>
		    <li>Provide references, resources, and organizational <strong>support for new clubs</strong> nationwide</li>
		    <li>Bring a delegation of <strong>Chinese college students</strong> to the United States in summer 2012 for cultural exchange and go matches</li>
		</ul>
	</li>
</ul>
{% endblock maintext %}
