<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>ACGA</title>

<meta name="Go Weiqi Baduk Collegiate Association" content="" />
<meta name="Website for the American Collegiate Go Association, a new group dedicated to teaching, playing, and supporting Go in university communities and beyond." content="" />

<link rel="shortcut icon" href="/site_media/favicon.ico" type="image/x-icon"/>
<link href="/site_media/foundation/stylesheets/foundation.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/site_media/foundation/stylesheets/app.css" rel="stylesheet" type="text/css" media="screen" />


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26829521-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script src="/site_media/foundation/javascripts/modernizr.foundation.js"></script>
<script type="text/javascript" src="/site_media/CollapsibleLists.js"></script>

{% block javascript %}
{% endblock %}
</head>

<body>

<!-- Navigation Bar -->
<div id="header" class="row">
	{% block navigation %}
	<div class="seven columns">
	<ul class="nav-bar left">
	</ul>
	</div>
	
	<div class="five columns">
	<ul class="nav-bar right">
		<li><a href="/" id="homenav">ACGA</a></li>
		<li><a href="/CGL/" id="CGLnav">CGL</a></li>
		<li><a href="/about/" id="aboutnav">About</a></li>
		<li><a href="/contact/" id="contactnav">Contact us</a></li>
	</ul>
	</div>
	{% endblock navigation %}
</div>

<!-- Page content -->
{% block content %}

<!-- Banner -->
<div class="row">
	<div class="twelve columns">
{% block logo %}
	<div class="panel">
	<h1><a href="/home/">American Collegiate Go Association </a></h1>
	<p><em> Dedicated to furthering <a href="http://en.wikipedia.org/wiki/Go_(game)">the game of Go</a></em></p>
	</div>
{% endblock logo %}
	</div>
</div>

<!-- Sidebar and Content -->
<div class="row">

<!-- Content -->
	<div class="eight columns">
	<div class="panel">
	{% block maintext %}
	<p>Default maintext</p>		
	{% endblock maintext %}
	</div>
	</div>

<!-- Sidebar -->
	<aside class="four columns">
	{% block sidebar %}
	<div class="panel">
	<p>Default sidebar</p>
	</div>
	{% endblock sidebar %}
	</aside>
	
</div>
{% endblock content %}

<!-- Footer -->

<div class="row">
<div class="twelve columns">
<div class="panel">
	<p>Copyright (c) 2012 American Collegiate Go Association. All rights reserved.</p>
</div>
</div>
</div>

<!-- Javascript to be executed after page content loads -->
<script src="/site_media/foundation/javascripts/jquery.js"></script>
<script src="/site_media/foundation/javascripts/foundation.min.js"></script>

<!-- Initialize JS plugins -->
<script src="/site_media/foundation/javascripts/app.js"></script>

<!-- Page-specific JS -->
{% block javascript_footer %}
{% endblock %}

</body>
</html>