{% extends "sidebar.html" %}

{% block BodyID %}
<body id="CGL">
{% endblock BodyID %}

{% block title %}Collegiate Go League{% endblock title %}

{% block maintext %}
<div id="tournaments">
	<h2><a href="/CGL/results">Standings and Results</a></h2>
	<hr />
	<div id='league'>
		<h2>League information</h2>
		<p> The CGL is the first online competitive league for college Go clubs. Each season runs through the school year, and the top sixteen schools are invited to compete for a cash prize in an end-of-season championship tournament. Strong players are generally on hand to help review games, helping kyu and dan-level players alike to improve.</p>
		<ul>
			<li><b>League Format:</b> Matches occur once every other week throughout the school year, except in December and March, to avoid winter/spring breaks. Each week, our algorithm will attempt to match schools with equal numbers of wins. Schools will not be matched together more than once each season. Seeding into the championship tournament is determined by number of wins, so a college who joins late may still be invited to the championship.  </li>
		    <li><b>Match Format:</b> A "match" refers to a set of five games between two schools. Each school will field five players. The five players from each team will play each other, sorted from strongest to weakest. The match will be won by the school who wins best of the five boards. No-shows for a board are counted as forfeits.</li>
			<li><b>Team logistics:</b> Each school will nominate a team captain, who will maintain a roster of active team members. These team members should be active members of the club. There is no limit to the number of people on a roster, although only five team members may represent a school in any given match. People are eligible to compete for a college club if they are active members of the club.</li>
			<li><b>Time:</b> Matches occur every other Saturday throughout the regular season. The starting time is currently set at 1PM EST/10AM PST, and ending by 3PM EST/noon PST. Please try to arrive in the tournament room half an hour earlier than the match start, to minimize delays.</li>
		    <li><b>Location:</b> <a href="http://www.gokgs.com">KGS</a>, Room: "Collegiate Go League", under "Tournaments".</li>
		    <li><b>Game settings:</b> 30m main time, 5x30second byo-yomi, Chinese Ruleset with 6.5 points komi, unrated, handicapped according to KGS ratings, no undos. A moderator will be on hand to resolve any disputes/conflicts.</li>
		    <li><b>Handicap:</b> Full handicap as determined by KGS ranking differences during normal season play. The end-of-season championship tournament will have <b>no</b> handicap. </li>
		</ul>
	</div>
	<hr />
	<div id='join'>
		<h2>Join the League</h2>
		<p>Is your college Go club interested in competing in the next round of the Collegiate Go League?</p>
		<p>Your club should designate a team captain, who will be responsible for managing the team. The team captain will be our contact to your club, will regularly update the school's roster, and will coordinate players' login and participation during matches.</p>
		<p>Your team captain should then <a href='/contact'>contact us</a> on behalf of your school's Go club, with the following information:</p>
		<ul>
			<li><b>The names and ranks (KGS ranks preferred) of 5 or more players.</b> You can have as many players on your roster as you like, but only 5 people may represent your school in any given match. Each team member should be an active member of that school's Go club. During the championship matches, participation will be further restricted to current undergraduate and graduate students.</li>
			<li><b>Club info:</b> Club president, club mailing list/contact info., club website, Facebook group, etc. (We want to make finding a local club as easy as possible.)</li>
		</ul>
		<p>We'll add your club to our database, and send you more details on how to participate in the next round of the CGL.  </p>
		<p>The final round of league matches before the end-of-season tournament will be on March 31.  To compete in the tournament your school must play in at least one league game, therefore <strong>the deadline to sign up for the remainder of season one is March 27.</strong> </p>

	</div>
</div>
{% endblock maintext %}
