{% extends "sidebar.html" %}

{% block BodyID %}
<body id="home">
{% endblock BodyID %}

{% block title %}Welcome to the ACGA!{% endblock title %}
{% block maintext %}
<img style="float:right;margin:15px 0px 0px 20px;" src="../site_media/FrontMontage.jpg" alt="Sorry, can't display this image!"/>

<p style="font-size:13pt;">The <strong>American Collegiate Go Association</strong> is a national network of schools and students dedicated to strengthening the American Go community.</p>
<p style="font-size:13pt;">Our current project is the Collegiate Go League, a new online tournament for college Go clubs inspired by the <a href="http://www.cstarleague.com/about/">Collegiate StarLeague</a>. We hope that by encouraging friendly competition between clubs, we can foster a sense of Go community.</p>
<p style="font-size:13pt;"><a href="/tournaments/">Learn more about our tournament here.</a> Your school can <a href="/contact/">sign up for the next season here.</a> Season Two will start in late March and will likely run every Friday.</p>{% endblock maintext %}

