{% extends "sidebar.html" %}

{% block BodyID %}
<body id="home">
{% endblock BodyID %}

{% block title %}Welcome to the ACGA!{% endblock title %}
{% block maintext %}
<img style="float:right;margin:15px 0px 0px 20px;" src="../site_media/FrontMontage.jpg" alt="Sorry, can't display this image!"/>

<p style="font-size:13pt;">The <strong>American Collegiate Go Association</strong> is a national network of schools and students dedicated to strengthening the American Go community.</p>
<p style="font-size:13pt;">Our current project is the Collegiate Go League, a
new online tournament format for college Go clubs anywhere in the world. We
hope that by encouraging friendly competition between clubs, we can foster a
sense of Go community and help address the unique challenges and advantages
for college go clubs.</p>
<p style="font-size:13pt;">Learn more about tournaments <a
href="/tournaments/">here</a>. You can sign your school up for the next
matches <a href="/contact/">here</a> - schools compete every other week, so you
can get started anytime!</p>{% endblock maintext %}

