{% extends "content.html" %}
{% block title %} <h1> Welcome to the CGA!</h1> {% endblock title %}
{% block pagedata %}
<div id="content" >
	<ul>
		<li><img style="float:right;margin:15px 0px 0px 20px;" src="FrontMontage.png" alt="Sorry, can't display this image!"/>
			<p style="font-size:13pt;">The <strong>Collegiate Go Association</strong> is a national network of schools, students, and community members dedicated to 
			strengthening the American Go community.</p>
			<p>From its beginnings as an informal group of New England collegiate clubs,
			the <strong>CGA</strong> has grown to include dozens of groups across the United States so players can <strong>share the wonderful game of Go</strong>.</p>
			<p>If you're looking for a way to <strong>connect</strong> with other Go players, <strong>improve</strong> your skills, or help
			<strong>lead</strong> the growth of Go in the United States, the <strong>Collegiate Go Association</strong> is for you!</p>
			<br />
			<h2>The Goals of Collegiate Go</h2>
			<br />
			<p>Spurred by support from the <strong>Ing Foundation</strong> and the <strong>American Go Association</strong>, the CGA has big plans for the future of
			Go in colleges and universities. The time has never been better for	national <strong>collegiate tournaments</strong>, seminars and simul matches against <strong>professional players</strong>, and
			the development of a <strong>strong Go culture</strong> in the United States.</p>
			<p style="font-size:12pt;">So what are you waiting for?</p>
			<p style="font-size:12pt;text-align:center;">Join the <strong>Collegiate Go Association</strong> and help us share the fun and challenge of Go!</p>
			<hr />
			<br />
			<h2>New to Go?</h2>
			<br />
			<img style="float:left;margin-right:15px;" src="SeigenShinSized.png" alt="Sorry, can't display this image!"/>
			<p><strong>Go</strong> is an <strong>ancient two-player board game</strong> based on simple rules
			that lead to immense strategic and aesthetic complexity. Also known as weiqi <em>(China)</em>, baduk <em>(Korea)</em>, or igo <em>(Japan)</em>,
			Go combines the <strong>tactical intensity of chess</strong> with <strong>abstract, global judgment</strong> to make an exceptionally
			challenging and rewarding game. In fact, Go is one of few remaining games where skilled human players can easily defeat the best computers.
			<strong>To learn how to play</strong>, take a look at
			<a href="http://en.wikipedia.org/wiki/Go_(board_game)#Overview">the basics</a>, check out our <a href="images.html"> go-playing images</a>,
			find a <a href="membership.html#clubs">club near you</a>, or <a href="contact.html"> contact us</a> with your questions.</p>
		</li>
	</ul>
</div>
<!-- end #content-->
{% endblock pagedata %}

