{% extends "sidebar.html" %}

{% block BodyID %}
<body id="ing">
{% endblock BodyID %}

{% block title %}The Ing Foundation{% endblock title %}
{% block maintext %}
<p> <strong>Ing Chang‐Ki</strong> was a Taiwan-based industrialist and GO player. 1983 he founded the Ing Chang‐Ki Wei‐Chi Education Foundation in Taiwan with his personal wealth, and in 1996, he donated 16 million RMB to create a branch of the Foundation in Shanghai to spread the intriguing and challenging game of Go throughout the world. The <strong>Shanghai Ing Chang-Ki Wei-Chi Education Foundation</strong> is one of Mr. Ing's major philanthropic legacies, and the ACGA's major sponsor, and for its support we are extremely grateful! </p>
<p>For more information about the promotional and philanthropic work of the Ing Foundation, or to contact Ing representatives in the U.S. or abroad, visit the <a href="http://www.usgo.org/ingfoundation">U.S. Ing Chang-Ki Wei-Chi Education Foundation website</a>.</p>
{% endblock maintext %}

