{% extends "content.html" %}

{% block title %}Links{% endblock title %}
{% block pagedata %}
	<li>
	<div id="content" >
		<p>There are hundreds of resources online for go players of every strength - check out some of the links below to learn more about the game, the players, the culture, and the worldwide go community.</p>
		<div id="links">
			<ul>
			<li>
				<h2> Learn to play </h2>
				<br />
				<ul>
					<li><a href="http://playgo.to/iwtg/en/">The Interactive Way to Go </a></li>
					<li><a href="http://www.gokgs.com/tutorial/">The KGS Go Tutorial </a></li>
					<li><a href="http://senseis.xmp.net/?RulesOfGoIntroductory">Sensei's Library Rules Of Go</a></li>
					<li><a href="http://www.usgo.org/resources/whatisgo.html">American Go Association - What Is Go?</a></li>
				</ul>
			</li>
			<li>
				<h2> General Resources </h2>
				<br />
				<ul>
					<li><a href="http://senseis.xmp.net/">Sensei's Library</a> - one of the most comprehensive go references ever!</li>
					<li><a href="http://gobase.org/">GoBase.org </a> - keep pace with professional play or use the sophisticated study materials here.</li>
					<li><a href="http://www.go4go.net/v2/">Go4Go.net</a> - with a professional game collection in the thousands.</li>
					<li><a href="http://www.gosensations.com">Go Sensations</a> - an outlet for the ever-growing online Go community.</li>
				</ul>
			</li>
			<li>
				<h2> Go Servers </h2>
				<br />
				<ul>
					<li><a href="http://www.gokgs.com/">Kiseido Go Server (KGS)</a>, one of the most popular servers worldwide.</li>
					<li><a href="http://www.pandanet-igs.com/communities/pandanet">Internet Go Server (IGS)</a> - the original worldwide Go server.</li>
					<li><a href="http://www.online-go.com">Online Go Server (OGS)</a> matches take place over weeks or even months.</li>
					<li>This is just a very small sampling of go servers popular among English-speaking players. Be sure to search online for one that matches your style!</li>
				</ul>
			</li>
			<li>
				<h2> Go Organizations </h2>
				<br />
				<ul>
					<li><a href="http://www.usgo.org/">American Go Association (AGA) homepage</a></li>
					<li><a href="http://www.usgo.org/ingfoundation/">Ing Chang-Ki Wei-Chi (Go) Education Foundation</a></li>
					<li><a href="http://massgo.org/">Massachusetts Go Association (MGA)</a></li>
					<li><a href="http://www.nihonkiin.or.jp/index-e.htm">Nihon Ki-in</a>, the Japanese professional Go association</li>
					<li><a href="http://www.weiqi.org.cn/">Chinese Weiqi Association</a></li>
					<li><a href="http://english.baduk.or.kr/">Korean Baduk Association</a></li>
				</ul>
			</li>
			</ul>	
		</div>
	</div>
	</li>
{% endblock pagedata %}

