{% extends "content.html" %}

{% block BodyID %}
<body id="media">
{% endblock BodyID %}

{% block title %}Media{% endblock title %}
{% block pagedata %}
		<ul>		
			<li>
			<div class="post">
				<!--<a href="../site_media/2011/09/29/5.html">--><h2>Fall 2011 Brown University Go Club Kickoff</h2>
				<p class="meta"><span>Posted on 29 September, 2011. Photo credit: <a href="mailto:collegiatego@gmail.com">Will Lockhart</a> on 15 September, 2011</span></p>
				<table class="entry">
					<tr><td><img src="../site_media/archive/2011/9/29/5.jpg" alt= "Whoops, can't display this image!"></td></tr>
					<tr><td><p>Reaching the endgame</p></td></tr>
				</table>
			</div>
			</li>
		</ul>
{% endblock pagedata %}
