{% extends "sidebar3.html" %}

{% block BodyID %}
<body id="members">
{% endblock BodyID %}

{% block title %}ACGA Membership{% endblock title %}

{% block maintext %}
<div id="membership">
	<br />
	<h2>Joining the American Collegiate Go Association</h2>
	<br />
	<p>The ACGA is based in cooperation and networking between member clubs nationwide and is poised to make a big impact on Go in the United States. Many American Go players are unaware of nearby community and school-based clubs, and many clubs are unaware of the availability of local Go players. The American Collegiate Go Association intends to correct this knowledge gap and coordinate a broader university Go culture in the United States. So why not join the growing collegiate go community? It's free!</p>
</div>
<div id="login">
    <h2>Login or Register</h2>
    <br />
    <p><a href="../accounts/login/">Log in</a> to your ACGA account. Don't have an account yet? <a href="../accounts/register/">Sign up</a> here in less than a minute. It's free!</p>
<p>Want to put your school club on the map? <a href="members/clubs/">Edit or create</a> your club's public profile. We'll also send you information about intercollegiate tournaments, professional matches in the US, study materials, and more (don't worry - you can always opt out, of course)!</p>
</div>
<div id="search">
	<h2>Search Member Clubs and users</h2>
	<br />
	<p><a href="search/">Search the database</a> for member clubs, by region or name, or for individual ACGA users and profiles.</p>
</div>
<div id="tournaments">
	<h2>Tournaments</h2>
	<br />
	<p>One of the ACGA's founding goals is to host and improve college-level tournaments in the US.</p>
	<p><a href="tournaments/">Take a look</a> at upcoming events in your area.</p>
</div>
<div id="newclub">
	<h2>Start a New Club</h2>
	<br />
    <p>Through our support with the Ing Foundation, the ACGA can provide resources and support to help you start a club at your school. It only takes one person to set up a club, and if our track record is any indication, you'll probably find dozens of other Go players on campus.</p>
    <p><a href="newclubs/">Learn more</a> about how we can help bring your club on board.</p>
</div>
{% endblock maintext %}
