{% extends "content.html" %}

{% block title %}Membership with the CGA{% endblock title %}
{% block pagedata %}
<div id="content" >
	<li>
	<div id="membership">
		<br />
		<h2>Joining the Collegiate Go Association</h2>
		<br />
		<p>The CGA is based in cooperation and networking between member clubs nationwide and is poised to make a big impact on Go in the United States. Many American Go players are unaware of nearby community and school-based clubs, and many clubs are unaware of the availability of local Go players. The Collegiate Go Association intends to correct this knowledge gap and coordinate a broader university Go culture in the United States. So why not join the growing collegiate go community? It's free!</p>
	</div>
	<div id="search">
		<h2>Search Registered Clubs</h2>
		<br />
		<p>To find information about registered clubs, <a href="search/">search the database</a>.</p>
	</div>
	<div id="login">
		<h2>Login</h2>
		<p>To log in and edit your club's registration information and public profile, go <a href="login/">here</a>.</p>
	</div>
	<div id="register">
		<h2>Register</h2>
		<p>Want to put your school club on the map? To register your school club with the CGA, just fill out the <a href="register/"> registration form</a>. You can upload information and make a public profile for your page, right on the CGA website. We'll also send you information about intercollegiate tournaments, professional matches, study materials, and more!</p>
	</div>
	</li>
</div>
	<!-- end #content -->{% endblock pagedata %}

