{% extends "members.html" %}

{% block maintext %}

<h2>Your Profile</h2>
<br/>
<p>From here, you can edit your public profile, request affiliation with a club, edit club information, and register for tournaments.</p>
<hr/>
<br/>
{% if update and not form.errors %}
    <p style="color: green;">
    Your information has been successfully updated!
    </p>
{% endif %}

{% if form.errors %}
        <p style="color: red;">
        Please correct the error{{ form.errors|pluralize }} below.
        </p>
{% endif %}

<form action="#form" method="post">

<table>
    <tr>
        <td><strong>You're logged in as:</strong></td> <td><strong>{{ user }}</strong></td>
    </tr>
    <tr>
        <td><strong>Email registered with your account:</strong></td> <td>{{ email }}</td>
    </tr>
    {{ form.as_table }}
</table>
    <input type="submit" value="Save"/>
	<input type="hidden" value=True name="update"/>
</form>
<br/>
<a href="/accounts/logout/"> Log out

{% endblock maintext %}
