Hi everyone,

The next CGL round is scheduled for Saturday, {{next_round.date}} at 1pm EST/10am PST. Your team should log onto the accounts we have provided and be ready to go at 12:30pm EST in the Collegiate Go League room on KGS. If you've lost track of your login information, we can reset it for you.

The following schools are matched (KGS account name prefix in parentheses):

{% for match in next_round.match_set.all %}
	{{match.school1}} ({{match.school1.KGS_name}}) vs. {{match.school2}} ({{match.school2.KGS_name}})
{% endfor %}

{% if unmatched_school %}
{{unmatched_school}} has a bye this round.

If your school cannot compete this Saturday, please let us know by Wednesday, so that we can switch in {{unmatched_school}}.

{% else %}
If your school cannot compete this Saturday, please let us know as soon as possible.
{% endif %}

Good luck to all teams.
