{% extends "default.html" %}

{% block BodyID %}
{% endblock BodyID %}

{% block maintext %}
{% endblock maintext %}

{% block sidebar %}
<ul>
	<li><h2>Current leadership</h2>
    	<ul>
	    	<li>Brown University:
	    	<br/>
	    	<br/>
	    	<p><strong>Cole D. Pruitt</strong> (2 kyu) <br/> <strong>Will Lockhart</strong> (4 dan) <br/> <strong>Zack Winoker</strong> (6 kyu) <br/> <strong>Stephen Palazola</strong> (1 kyu)</p>
	    	</li>
	    	<li>Northeastern University:
	    	<p><strong>Guochen Xie</strong> (7 dan)</p>
	    	</li>
	    	<li>Harvard University/MIT:
	    	<p><strong>Brian Lee</strong> (1 dan)</p>
	    	</li>
	    </ul>
	</li>
	<li><h2>Contributors</h2>
	    <ul>
	    	<li>Brandeis University:
	    	<br/>
	    	<br/>
	    	<p><strong>Mike Fodera</strong> (5 dan) <br/> <strong>Mike Haskell</strong> (9 kyu) <br/><strong> Daniel Koch</strong> (5 kyu)</p>
	    	</li>
	    	
	    	<li>Wellesley College:
	    	<br/>
	    	<br/>
	    	<p><strong>Cherry Shen</strong> (4 dan)</p>
	    	</li>
	    	
	    	<li>Cornell University:
	    	<br/>
	    	<br/>
	    	<p><strong>David Glekel</strong> (1 dan)</p>
	    	</li>
	    	
	    	<li>MIT:
	    	<br/>
	    	<br/>
	    	<p><strong>Neil Fitzgerald</strong> (14 kyu)</p>
	    	</li>
	    	
	    	<li>Graduates:
	    	<br/>
	    	<br/>
	    	<p><strong>Walther Chen</strong> (4 dan)</p>
	    	</li>
	    	
    	</ul>
	</li>
    <li>
    	<h3 align="left">Ing Chang-Ki Weiqi Education Foundation </h3>
    	<br/>
    	<br/>
		<p> The <a href="http://www.usgo.org/ingfoundation/"> Ing Foundation</a> provides vital financial and institutional support for the ACGA, the American Go Association (AGA), and many clubs nationwide.</p>
		<p>You can contact <a href="mailto:minxiaogo@gmail.com">Min Xiao</a>, the United States coordinator for the Ing Foundation, to learn more about the Ing Foundation's role in promoting Go worldwide.</p>
	</li>
	<li><h2> Further resources</h2>
		<p> Visit the <a href="/links/">links page</a> for member club contact information and other resources in the go community.</p>
	</li>
</ul>
{% endblock sidebar %}
