{% extends "default.html" %}

{% block BodyID %}
{% endblock BodyID %}

{% block maintext %}
{% endblock maintext %}

{% block sidebar %}
<ul>
	<li>
	<h2>CGL - Latest News </h2>
    <ul>
    	<li>Game dates/times changed from Friday 6:30 PM EST to Saturday 12:30 PM EST.</li>
    	<li><a href="/tournaments/">Tournament Details Announced!</a></li>
    	<li><a href="/contact/">Sign your school up for the next season</a></li>
	</ul>
	</li>
	<li>
		<h2>Match Results</h2>
		<p>No Results yet! Check back after the first set of matches</p>
	</li>
	<li>
	    <h2>Upcoming Matches</h2>
        <p><strong>4 February, 12:30 PM EST.</strong></p>
		<ul>
		    <li>Brown University vs. MIT</li>
		    <li>Northeastern University vs. Brandeis University</li>
		</ul>
        <p><strong>18 February, 12:30 PM EST.</strong></p>
		<ul>
		    <li>Brandeis University vs. Brown University</li>
		    <li>MIT vs. Northeastern</li>
		</ul>
        <p><strong>3 March, 12:30 PM EST.</strong></p>
		<ul>
		    <li>Brown University vs. Northeastern University</li>
		    <li>MIT vs. Brandeis University</li>
		</ul>
        <p><strong>17 March, 12:30 PM EST.</strong></p>
		<ul><li>Championship Match!</li></ul>
	</li>
<!--	<li>
		<h2>Calendar</h2>
		<p> Visit the <a href="https://www.google.com/calendar/embed?src=collegiate.go%40gmail.com&ctz=America/New_York">ACGA google calendar</a> to stay up to date on all things go!</p>
		<iframe src="https://www.google.com/calendar/embed?src=collegiate.go%40gmail.com&ctz=America/New_York" style="border: 0" width="270" height="200" frameborder="0" scrolling="no" alt="Sorry, your browser doesn't handle the Google Calendar iframe!></iframe>
	</li> -->

	<li>
		<h2>Games of the Month</h2>
		<p>Coming soon!</p>
	</li>
</ul>
{% endblock sidebar %}
