{% extends "default.html" %}

{% block BodyID %}
{% endblock BodyID %}

{% block maintext %}
{% endblock maintext %}

{% block sidebar %}
<ul>
	<li>
		<h2>Latest News</a></h2>
		<ul>
{% for news in sidebar_latest_news %}
			<li><a href="/news/{{news.id}}">{{news.tagline}}</a></li>
{% endfor %}
			<li><a href="/contact/">Sign your school up to participate this season</a></li>

		</ul>
	</li>

	<li>
	    <h2>Upcoming Matches</h2>
{% if sidebar_upcoming_round %}
	    <p><strong>{{sidebar_upcoming_round}}</strong></p>
	    <ul>
	{% for match in sidebar_upcoming_round.match_set.all %}
			<li>{{match.school1}} vs. {{match.school2}}</li>
	{% empty %}
			<li>No matches entered yet </li>
	{% endfor %}
		</ul>
{% else %}
		<p>No upcoming matches; perhaps it's the beginning or end of a season</p>
{% endif %}
	</li>
	
	<li>
		<h2><a href="/CGL/results/">Recent Matches</a></h2>
{% for round in sidebar_recent_rounds %}
		<p><strong>{{round}}</strong></p>
		<ul>
	{% for match in round.match_set.all %}
		{% if match.score1 > match.score2 %}
			<li>{{match.school1}} defeats {{match.school2}}, {{match.score1}}-{{match.score2}}</li>
		{% else %}{% if match.score2 > match.score1 %}
			<li>{{match.school2}} defeats {{match.school1}}, {{match.score2}}-{{match.score1}}</li>
		{% else %}
			<li>{{match.school1}} ties {{match.school2}}, {{match.score1}}-{{match.score2}}</li>
		{% endif %}{% endif %}
	{% endfor %}			
		</ul>
{% endfor %}
	</li>
<!--	<li>
		<h2>Calendar</h2>
		<p> Visit the <a href="https://www.google.com/calendar/embed?src=collegiate.go%40gmail.com&ctz=America/New_York">ACGA google calendar</a> to stay up to date on all things go!</p>
		<iframe src="https://www.google.com/calendar/embed?src=collegiate.go%40gmail.com&ctz=America/New_York" style="border: 0" width="270" height="200" frameborder="0" scrolling="no" alt="Sorry, your browser doesn't handle the Google Calendar iframe!></iframe>
	</li> -->
</ul>
{% endblock sidebar %}
