{% extends "sidebar.html" %}

{% block BodyID %}
<body id="tournaments">
{% endblock BodyID %}

{% block title %}Collegiate Go League{% endblock title %}

{% block maintext %}
<div id="tournaments">


<h2><strong>Announcing the Collegiate Team Championship!</strong></h2>
<p>  
We are excited to announce the first ever North American Collegiate Team Championship!  All members of the ACGA are invited to participate.  The Collegiate Go League will culminate in this single-elimination <b>no-handicap</b> team tournament, and eligibility will be strictly limited to current full-time undergraduate and graduate students.  The first two rounds will take place on <b>April 14</b>, and the semi-finals and championship match will be the following week, <b>April 21</b>.  The format will be the same as league games, but we will allow matches to be re-scheduled if there are conflicts.  Teams must register for the tournament and submit their tournament roster <b>no later than April 7</b>.  We recommend you register by April 1.  
</p>
<h3> Prizes </h3>
<p>
Cash prizes:
<ul>
<li>1st Place:  $250</li>
<li>2nd Place:  $150</li>
<li><b>3rd Place:  $100</li>
</ul>
These prizes will go to school clubs, or can be used to buy books or other equipment through the ACGA. 
Additionally we will likely be able to offer memberships to the KGS Insei League, which is a fantastic way for players of all levels to improve!
</p>
<p>
Please contact us for tournament registration.  
</p>
<br/>

<h2>League Play</h2>
<p> The CGL is the first online competitive league for college Go clubs, hosted on KGS, one of the most popular online go servers. Each school fields a team of five players who compete against another school every two weeks, on Saturdays at 1pm EST / 10am PST. Games are handicapped, and hosted in the Collegiate Go League club room on KGS.  After the matches, strong players will review several of the games, giving a chance for kyu and dan-level players alike to improve and meet other players in the collegiate Go community. </p>
<p><b><a href="/contact/">Participate in our next match.</a></b></p>

<h2>League information</h2>

<ul>
    <li><b>Currently Participating Schools:</b> MIT, Brown, Brandeis, Northeastern, Cornell, Princeton, U. Maryland, U. Michigan, U. Virginia, Brock University, DeAnza College</li>
    <li><b>Location:</b> KGS, Room: "Collegiate Go League", under "Club rooms".</li>
    <li><b>Tournament Format:</b> Matches will occur every two weeks until mid-April. At the end of the season there will be a non-handicapped championship tournament, with seeding determined by most match victories during the semester; ties broken by most individual victories.</li>
    <li><b>Match Format:</b> A "match" refers to a set of five games between two schools. Each school will field five players. The five players from each team will play each other, sorted from strongest to weakest. The match will be won by the school who wins best of the five boards.</li>
	<li><b>Team Format:</b> Each school will nominate a team captain, who will maintain a roster of active team members. These team members should be active members of the club. There is no limit to the number of people on a roster, although only five team members may represent a school in a match. People are eligible to compete for a college club if they are active members of the club.</li>
    <li><b>Game settings:</b> 30m main time, 5x30second byo-yomi, Chinese Ruleset with 6.5 points komi, unrated, handicapped according to KGS ratings, no undos. A moderator will be on hand to resolve any disputes/conflicts.</li>
	<li><b>Season 1 Game Dates:</b> Saturdays, Feb 4rd, Feb 18th, Mar 3rd, Mar 17th, Mar 31st, Apr 14th, Apr 28th.</li>
	<li><b>Game Time:</b> Games start at 1pm EST, and should end by 3pm EST. Please arrive half an hour earlier than the match start, to minimize delays.</li>
</ul>
<br/>

<br/>
<h2>Upcoming Matches!</h2>

<h3>March 17:</h3>

<br/>
<br/>
<h2>Standings and Results</h2>
<h3><a href="/results/">Season One</a></h3>

</div>
{% endblock maintext %}
