{% extends "sidebar.html" %}

{% block BodyID %}
<body id="tournaments">
{% endblock BodyID %}

{% block title %}Collegiate Go League{% endblock title %}

{% block maintext %}
<div id="tournaments">
<br />
<p>The CGL is an online Go tournament that is organized by the American Collegiate Go Association (ACGA, collegiatego.org). Each college club will compete over several weeks for the championship.</p>
<p>Sign up for the next season <a href="/contact/">here</a>.</p>

<br />
<h2>Season One Details</h2>
<br />
<ul>
    <li><b>Schools:</b> MIT, Brandeis, Brown, Northeastern</li>
    <li><b>Location:</b> Kiseido Go Server (KGS), Room: "Collegiate Go League", under "Social Rooms"</li>
    <br />
    <li><b>Tournament Format:</b> Season 1 will be a round robin tournament. Winner will be determined by most match victories; ties broken by most individual victories.</li>
    <li><b>Match Format:</b> Each school will field five players. The five players from each team will play each other, sorted from strongest to weakest. The match will be won by the school who wins best of the five boards.</li>
	<li><b>Team Format:</b> Each school will nominate a team captain, who will maintain a roster of active team members. These team members should be active members of the club. There is no limit to the number of people on a roster, although only five team members may represent a school in a match.</li>
    <br/>
    <li><b>Game settings:</b> 45m main time, 5x30second byo-yomi, Japanese Ruleset, unrated, handicapped according to KGS ratings, no undos. A moderator will be on hand to resolve any disputes/conflicts.</li>
	<li><b>Game Dates:</b> Saturdays, Feb 4rd, Feb 18th, Mar 3rd.</li>
	<li><b>Game Time:</b> 12:30pm EST, games should end by 3pm EST. </li>
</ul>
<br/>
<br/>

    <h3>Participating teams</h3>
    <ol>
        <li><a href="http://mygroups.brown.edu/organization/goclub">Brown University</a></li>
        <li><a href="http://www.facebook.com/group.php?gid=79121241616">Northeastern University</a></li>
        <li><a href="http://web.mit.edu/go/">MIT</a></li>
        <li><a href="http://my.brandeis.edu/clubs/goclub">Brandeis</a></li>
    </ol>

</div>
{% endblock maintext %}
