{% extends 'base_CGL.html' %}

{% block maintext %}
<h3>{{match}}</h3>

<ul>
{% for game in match.game_set.all %}
    <li>Board {{game.board}} - {{game.full_description_html|safe}}</li>
{% endfor %}
{% for forfeit in match.forfeit_set.all %}
    <li>{{forfeit.display_result|safe}}</li>
{% endfor %}
</ul>

<form id="match_edit_form" action="." method="post">
{% csrf_token %}
{% for game in match.game_set.all %}
<div class="row">
    <div class="eight columns"><label>Board {{game.board}}</label>
        <select id="player_name{{game.board}}">
        {% if school_is_team1 %}
            {% for player in match.team1.players.all %}
            <option {% if player.name == game.team1_player.name %} selected="selected" {% endif %}>{{player.name}}</option>
            {% endfor %}
        {% else %}
            {% for player in match.team2.players.all %}
            <option {% if player.name == game.team2_player.name %} selected="selected" {% endif %}>{{player.name}}</option>
            {% endfor %}
        {% endif %}
        </select>
    </div>
    <div class="four columns"><label>&nbsp;</label><input for="{{game.board}}" type="submit" value="Update board" /><label id="error{{game.board}}"></label></div>
    <input id="game_id{{game.board}}" type="hidden" value="{{game.id}}">
</div>
{% empty %}
<p>No games entered yet</p>
{% endfor %}
</form>

{% endblock %}


{% block javascript_footer %}
<script type="text/javascript">
var csrf_token = $("input[name=csrfmiddlewaretoken]").val();
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        xhr.setRequestHeader("X-CSRFToken", csrf_token);
    }
});

$(document).ready(function() {
    var EDIT_GAME_URL = "{% url edit_game 1717 %}"
    $("#match_edit_form").submit(function() { return false; })

    $("input[type=submit]").click(function(event) {
        var board_id = $(this).attr("for");
        var game_id = $("input#game_id"+board_id).val();
        var player_name = $("select#player_name"+board_id).val();

        var data = {
            "player_name": player_name,
        };

        $.ajax({
            url: EDIT_GAME_URL.replace(1717, game_id),
            type: "PUT",
            data: JSON.stringify(data),
            success: function(response) {
                $("label#error"+board_id).text("Updated!");
            },
            error: function(xhr, textStatus, errorThrown) {
                var error_message = xhr['responseText']
                $("label#error"+board_id).text(error_message);
            }
        });
    });
});
</script>
{% endblock %}
