{% extends 'base_CGL.html' %}

{% block maintext %}
<h3>Record Players for {{match}}</h3>

<ul>
{% for game in games %}
    <li>Board {{game.board}} - {{game.full_description_html|safe}}</li>
{% endfor %}
</ul>

<h4>Your current roster</h4>
<ul>
{% for player in all_players %}
    <li>{{player.name}} ({{player.get_rank_display}})</li>
{% endfor %}
</ul>

<form action="." method="post">
    {% csrf_token %}
{{ form.non_field_errors }}
<div class="row">
    <div class="nine columns">{{form.player_name1.label_tag}}{{form.player_name1}}</div>
    <div class="three columns">{{form.player_is_new1.label_tag}}{{form.player_is_new1}}</div>
</div>
<div class="row">
    <div class="nine columns">{{form.player_name2.label_tag}}{{form.player_name2}}</div>
    <div class="three columns">{{form.player_is_new2.label_tag}}{{form.player_is_new2}}</div>
</div>
<div class="row">
    <div class="nine columns">{{form.player_name3.label_tag}}{{form.player_name3}}</div>
    <div class="three columns">{{form.player_is_new3.label_tag}}{{form.player_is_new3}}</div>
</div>
{{form.school_name}}
<input type="submit" value="Submit players" />
</form>

{% endblock %}
